<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B9B80111F1F38ED000B17F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9B802A1F1F38ED000B17F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B9B80351F1F38ED000B17F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
